.black  { background-color: #2b2b2b; }
.blue   { background-color: #80b1ff; }
.brown  { background-color: #ffcb87; }
.gray   { background-color: #e7e7e7; }
.green  { background-color: #82ffaa; }
.pink   { background-color: #ff8ab3; }
.purple { background-color: #ec81ff; }
.red    { background-color: #ff7979; }
.white  { background-color: #d9f0ff; }
.yellow { background-color: #fff27d; }