.black  { background-color: #2e2e2e; }
.blue   { background-color: #80b1ff; }
.brown  { background-color: #ffcb87; }
.gray   { background-color: #7ed4ff; }
.green  { background-color: #82ff86; }
.pink   { background-color: #ff8ab3; }
.purple { background-color: #ec81ff; }
.red    { background-color: #ff5858; }
.white  { background-color: #7fccff; }
.yellow { background-color: #fff27d; }