
.impressum {
    color: #336699;
    margin: 12px;
}

.impressum a {
    font-size: 18px;
    text-decoration: none;
    color:#336699;
}

.impressum-box {
    display: flex;
    align-items: center;
    gap: 24px;
}

.impressum-box a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.impressum-box a:hover {
    filter: drop-shadow(1px -1px 3px rgb(214, 214, 214));
}

.impressum-box img {
    height: 42px;
    width: 42px;
}