main {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px;
    flex-grow: 1;
    max-width: 1440px;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    height: 300px;
    width: 180px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 0.2s;
}

.cards:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: rgba(50, 50, 93, 0.55) 0px 2px 5px -1px, rgba(0, 0, 0, 0.7) 0px 1px 3px -1px;
}

.titles {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards img {
    height: 180px;
    filter: drop-shadow(5px 7px 10px rgb(71, 71, 71));
}

.image {
    display: flex;
    height: 220px;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 12px;
    gap: 12px;
}

.icons img {
    height: 36px;
    filter: drop-shadow(2px 2px 3px rgb(71, 71, 71));
}
