.overlay {
  align-content: center;
  justify-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.profile {
  position: relative;
  font-family: sansation;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  height: 720px;
  border-radius: 24px;
  z-index: 2;
}

.profile-title {
  display: flex;
  margin-block-start: 0em;
  align-items: baseline;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 90%;
  padding: 0 24px;
  border-radius: 24px 24px 0 0;
  justify-content: space-between;
}

.details {
  z-index: 3;
  height: 55%;
  border-radius: 0 0 24px 24px;
  width: 100%;
  justify-items: center;
  background-color: rgb(240, 240, 240);
  background-image: url(../img/pokeball_white.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 135px 55px;
}

.portrait {
  position: absolute;
  top: 60px;
  z-index: 4;
  height: 300px;
  filter: drop-shadow(5px 5px 5px rgb(80, 80, 80));
}

nav {
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  display: flex;
  width: 90%;
  margin-top: 48px;
  border-bottom: 1px solid rgb(100, 100, 100);
  padding-bottom: 6px;
}

b {
  color: gray;
  justify-content: space-between;
}

b:hover, .active {
  cursor: pointer;
  color: rgb(64, 64, 64);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}

.active:hover {
  cursor: default;
}

table {
  width: 80%;
  margin: 24px;
}

th {
  text-align: left;
  width: 150px;
}

.arrows{
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 10px;
  width: 90%;
  margin: 10px 24px;
  
}

.arrows img {
  height: 36px;
  cursor: pointer;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  opacity: 0.5;
}

.arrows img:hover {
  opacity: 0.75;
}

#profile-content {
  width: 90%;
}

.chain {
  display: flex;
}

.chain img {
  height: 150px;
}