@media (max-width: 1770px) {
  main {
    max-width: 1300px;
  }
  .header-box {
    max-width: 1200px;
  }
}

@media (max-width: 1360px) {
  main {
    max-width: 1024px;
    gap: 8px;
  }
  .header-box {
    max-width: 800px;
  }
}

@media (max-width: 700px) {
  main {
    padding: 12px;
    gap: 6px;
  }
  .header-box {
    flex-direction: column;
    align-items: center;
  }
  header {
    height: 180px;
  }
 
  #profile {
    width: 280px;
    height: 500px;
  }
  .portrait {
    height: 220px;
  }
  .details {
    font-size: 12px;
    height: 60%;
  }

  th {
    height: 10px;
    min-width: 90px;
  }
  td {
    width: 100px;
    height: 12px;
  }
  .member img {
    width: 80px;
  }
  .profile-title {
    width: 232px;
  }
  #stats-content td {
    font-size: 10px;
    max-width: 100px;
    height: 10px;
    background-color: rgb(214, 214, 214);
  }
}

@media (max-width: 600px) {
  main {
    max-width: 450px;
    gap: 12px;
  }
  header img {
    height: 80px;
  }
  header input {
    font-size: 16px;
  }
}

