@media (max-width: 1770px) {
  main {
    max-width: 1300px;
  }
  .header-box {
    max-width: 1200px;
  }
}

@media (max-width: 1370px) {
  main {
    max-width: 1024px;
    gap: 8px;
  }
  .header-box {
    max-width: 800px;
  }
}

@media (max-width: 700px) {
  main {
    padding: 12px;
    gap: 6px;
  }
  .header-box {
    flex-direction: column;
    align-items: center;
  }
  header {
    height: 180px;
  }

  #profile {
    width: 280px;
    height: 500px;
  }
  .portrait {
    margin-top: 12px;
    height: 210px;
  }
  .details {
    font-size: 12px;
    height: 55%;
  }
  .details nav {
    margin-top: 24px;
  }
  .member img {
    width: 75px;
  }
  .profile-title {
    width: 232px;
  }
  .details-content {
    width: 220px;
  }
  th {
    height: 14px;
  }
  #about-content th {
    width: 85px;
  }
  #chain-content {
    width: 95%;
    justify-content: center;
  }
  #stats-content th {
    width: 100px;
    padding-right: 6px;
  }
  #stats-content td {
    font-size: 10px;
    height: 10px;
  }
}

@media (max-width: 600px) {
  main {
    max-width: 450px;
    gap: 12px;
  }
  header img {
    height: 80px;
  }
  header input {
    font-size: 16px;
  }
}
